@font-face {
    font-family: "futuraRegular";
    src: url('/fonts/futuraBold.eot');
    src: url('/fonts/futuraBold.eot?#iefix') format('eot'),
    url('/fonts/futuraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.app {
    font-family: 'futuraRegular';
    background-color: grey;
    color: white;
    padding: 40px;
}
